/*////////////////////////* {
    Table of Contents
    1. Global Styles
    2. Typography
    3. Layout
        3.1 Reusables
        3.2 Other
    4. Areas
        4.1 Header
        4.2 Hello
        4.3 Work
        4.4 Services
        4.5 Form
        4.6 Footer
////////////////////////*/

/* ------------------------------- 1. Global Styles -------------------------------- */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* ------------------------------- 2. Typography ----------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'roboto', sans-serif;
}

button, input {
    font-family: inherit;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather', serif;
}



/* ------------------------------- 3. Layout --------------------------------------- */

/* --------------- 3.1 Reusables ----------------------- */
:root {
    --paars: #5722CD;
    --blauw: #4845E4;
    --roze: #ED4385;
    --zwart: #0C0C0C;
    --lichtpaars: #F2F0FF;
    --lichtgrijs: #F3F6F9;
    --grijs: #7A7A7A;
}

/* --------------- 3.2 Other --------------------------- */

/* ------------------------------- 4. Areas ---------------------------------------- */

/* --------------- 4.1 Header ------------------------- */

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--paars);
   }
.nav-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    flex-basis: 1200px;
    margin: 0 20px 0 20px;
    padding: 20px 0 20px 0;
    }

.nav-container ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-basis: 600px;
}

.nav-container li {
     list-style: none;
 }

.nav-container li a {
    color: white;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    padding-top: 20px;
    background-color: var(--paars);
}

.header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 1200px;
    margin: 0 20px 0 20px;
}

.header-container h1 {
    width: 600px;
    text-align: center;
    color: white;
    padding-bottom: 20px;
}

.header-container p {
    color: white;
    padding-bottom: 20px;
}

.header-container button {
    width: 300px;
    height: 40px;
    background-color: var(--roze);
    }

.header-container button a {
    color: white;
}
/* --------------- 4.2 Hello ------------------- */
.hello-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.hello-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 1200px;
    margin: 0 20px 0 20px;
    padding: 20px 0 20px 0;
}

.hello-container h2 {
    color: var(--paars);
    text-align: center;
    padding-bottom: 20px;
}
.hello-container p {
    font-size: 10px;
}
/* --------------- 4.3 Work ------------------- */
.work-section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--lichtgrijs);
}

.work-container-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 1200px;
    margin: 0 20px 0 20px;
    padding: 20px 0 20px 0;
}
.work-container1 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px 0 20px 0;

}
.work-container2 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px 0 20px 0;
}
.work-container3 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px 0 20px 0;
}
.work-container1 span, .work-container2 span, .work-container3 span {
        flex-basis: 700px;
}

.work-container1 article, .work-container2 article, .work-container3 article {
    flex-basis: 500px;
    padding: 20px;
}
.work-container1 img,
.work-container2 img,
.work-container3 img {
    width: 650px;
    height: auto;
}
/* --------------- 4.4 Services ------------------- */
.services-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    }
.services-container-main {
    flex-basis: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.services-container1, .services-container2, .services-container3, .services-container4, .services-container5, .services-container6 {
    flex-basis: 350px;
    border: 2px solid var(--paars);
    height: 300px;
    padding: 20px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.services-section img {
    width: 60px;
    height: auto;
}

.services-section h2 {
    color: var(--paars);
    font-size: 24px;
}
/* --------------- 4.5 Form ------------------- */
.form-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--paars);
}

.form-container {
    flex-basis: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.form-container .form {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: flex-start;
    width: 100%;
    gap: 15px;
}

.form-container .form input,
.form-container .form textarea {
    box-sizing: border-box;
    width: 100%;
}
/* ------------------------------- 4.6 Footer -------------------------------- */
footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--zwart);
    color: white;
}
footer p {
    flex-basis: 400px;
}

.form-container button {
    width: 100px;
    height: 30px;
    background-color: var(--roze);
}